<!-- !DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
    <button type="button" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
<div>
    <span>메세지</span>
    <div class="msgArea"></div>
</div>
</body>
<h1>WEBSOCKET TEST용 임시 Client Page</h1>
<script>
		// socket 생성! => http->ws 로 통신계층 upgrade 
        let socket = new WebSocket("ws://localhost:8080/socket");	//"ws://{도메인}/socket" 형태 유지 
		
        socket.onopen = function (e) {
        	// socket open 시 유저 아이디 제공 
        	socket.send("0,userid");
            console.log('open server!')
        };

        socket.onerror = function (e){
            console.log(e);
        }
        
        socket.onmessage = function (e) {
        	// 프론트 customizing
        	console.log("onmessage도 동작했어욤");
            console.log(e.data);
            let msgArea = document.querySelector('.msgArea');
            let newMsg = document.createElement('div');
            newMsg.innerText=e.data;
            msgArea.append(newMsg);
        }

        function sendMsg() {
            let content=document.querySelector('.content').value;
            // socket.send()로 데이터 전송!! 
            socket.send(content);		
        }
</script>
</html-->