<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8" />
    <title>채팅 서비스</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>

<div class = "container">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>senderId</th>
            <th>recieverId</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.roomId}"></td>
            <td th:text="${room.senderId}"></td>
            <td th:text="${room.recieverId}"></td>
            <td>
                <a class = "btn btn-primary" th:href = "@{/api/que/select/rooms/{id} (id = ${room.roomId})}"></a>
            </td>
        </tr>
        </tbody> 
    </table>

    <a class = "btn btn-primary pull-right" href = "/api/que/select/new">방 새로 만들기</a>
    <!--  내가 만듦 -->
    <!-- form class="form-signing" action="/" th:object="${form}" method= "post">		
        <h2 class="form-signing-heading">유저세션에 유저 추가</h2>
        <label for="title" class="sr-only">유저 이름</label>
        <input type="text" th:field="*{userId}" id="title" class="form-control" placeholder="본인id를 입력해주세요" required autofocus>
        <br>
        <button class="btn btn-primary" type="submit">로그인하기</button>
    </form-->
    <!--  여기 두번째 추가 -->
    <!-- form class="form-signing" action="/api/que/select" th:object="${form}" method= "method">
        <input type="text" th:field="*{userId}" id="title" class="form-control" placeholder="내id를 입력해주세요" required autofocus>
        <br>
        <button class="btn btn-primary" type="submit">로그인하기</button>
	</form-->
 
</div>


</body>
<script th:inline = "javascript">
    var webSocket;
    var user2Id = "2";
    var userId = /*[[${userId}]]*/;
  

    function connect(){
        webSocket = new WebSocket("ws://localhost:8080/socket");
        webSocket.onopen = onOpen;
        webSocket.onclose = onClose;
        webSocket.onmessage = onMessage;
    }
    connect();
    //var roomId = "88d533a4-d260-c064-79db-538c4b1c26b5";
    
	// 겨루기 신청 신호 보냄 
    function send(){
       // msg = document.getElementById("message").value;
        //webSocket.send(JSON.stringify({chatRoomId : roomId,type:'CHAT',writer:nickname,message : msg}));
        //console.log(JSON.stringify({chatRoomId : roomId,type:'CHAT',writer:nickname,message : msg}));
        //document.getElementById("message").value = "";
        webSocket.send(JSON.stringify({senderId : userId, recieverId : user2Id,  type:'INVITE',message:""}));
        console.log("겨루기 신청함");
	}
    // 겨루기 신청 신호 받음 
    function onMessage(e){
        //data = e.data;
        //chatroom = document.getElementById("chatroom");
        //chatroom.innerHTML = chatroom.innerHTML + "<br>" + data;
        webSocket.send(JSON.stringify({senderId : userId, recieverId : user2Id, type:'INVITED',message:""}));
        console.log("겨루기 신청받음");
    }
    // 로그인
    function onOpen(){
    	console.log("로그인 해서 server open!")
    	// 임의로 세명 다 넣음 
        webSocket.send(JSON.stringify({senderId : "1", recieverId : userId, type:'LOGIN',message:""}));
    	webSocket.send(JSON.stringify({senderId : "2", recieverId : userId, type:'LOGIN',message:""}));
    	webSocket.send(JSON.stringify({senderId : "3", recieverId : userId, type:'LOGIN',message:""}));
    }
 	// 로그아웃 
    function disconnect(){
    	console.log("로그아웃되서 연결 끊김")
        webSocket.send(JSON.stringify({senderId : userId, recieverId : userId, type:'LOGOUT',message:""}));
        webSocket.close();
    }
    function onClose(){
        disconnect();
    }

</script>
</html>