<!doctype html>
<html lang="en">
  <head>
    <title>Websocket Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
      [v-cloak] {
          display: none;
      }
    </style>
  </head>
  <body>
    <div class="container" id="app" v-cloak>
        <div class="row">
            <div class="col-md-12">
                <h3>채팅방리스트</h3>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text">방제목</label>
            </div>
            <input type="text" class="form-control" v-model="userId" v-on:keyup.enter="createRoom">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" @click="createRoom">채팅방개설</button>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action" v-for="item in chatrooms" v-bind:key="item.userId" v-on:click="enterRoom(item.userId)">
                {{item.name}}
            </li>
        </ul>
    </div>
    <!-- JavaScript -->
    <script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
    <script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
            	userId : '', 
                chatrooms: [
                ]
            },
            created() {
                this.findAllRoom();
            },
            methods: {
                findAllRoom: function() {
                    //axios.get('/chat/rooms').then(response => { this.chatrooms = response.data; });
                	axios.get('/api/que/users').then(response => { this.chatrooms = response.data; });
                },
                // 내가 추가함
                
                recvMessage: function(recv) {
                    this.messages.unshift({"type":recv.type,"userId":recv.userId,"message":recv.message})
                },
                createRoom: function() {
                    if("" === this.room_name) {
                        alert("방 제목을 입력해주세요");
                        return;
                    } else {
                    	/// user socket 연결
                    	var sock = new SockJS("/ws-stomp");
        				var ws = Stomp.over(sock);
                    	//////////////////////////////
                    	// URLSearchParmas 인터페이스의 append는, 파라미터를 키-값 쌍으로 저장한다.
                        var params = new URLSearchParams();
                        params.append("userId",this.userId);	// 키-값 쌍 저장 : ChatRoomController의 createUser의 파라미터와 변수 일치해야 함 
                        axios.post('/api/que/user', params)		///chat/room
                        .then(
                            response => {
                                alert(response.data.userId+"방 개설에 성공하였습니다")
                                //this.room_name = '';	// 방 이름 초기화 해줌 
                                this.findAllRoom();
                            }
                        )
                        .catch( response => { alert("방 개설에 실패하였습니다."); } );
                      	/// user socket 연결
                      	
        				ws.connect({}, function(frame) {
        	                ws.subscribe("/sub/api/que/user/"+vm.$data.roomId, function(message) {
        	                    var recv = JSON.parse(message.body);
        	                    vm.recvMessage(recv);
        	                });
        	                ws.send("/pub/api/que/user", {}, JSON.stringify({type:'LOGIN', userId:vm.$data.userId}));
        	            }, function(error) {
        	                console.log("에러다 어쩔래");
        	            });
                    }
                },
                enterRoom: function(userId) {
                    var sender = prompt('대화명을 입력해주세요.');
                    if(sender != "") {
                        localStorage.setItem('wschat.senderId',sender);
                        localStorage.setItem('wschat.userId',userId);
                        location.href="/api/que/room/enter/"+userId;
                    }
                }
            }
        });
    </script>
  </body>
</html>